
.quiz-section {
    height: calc(100vh - 56px);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #000;
    position: relative;
    padding: 2.5rem 1rem;

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba(0, 39, 82,0.5);
        background-image: radial-gradient(circle at 20px 20px, rgba(16, 249, 187,1) 1px, transparent 0);
        background-size: 60px 60px;
    }

    .container {
        height: 100%;
        position: relative;
    }
}

#quiz-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 39, 82, .8);
    position: relative;

    .corner-box {
        position: absolute;
        width: 25%;
        height: 25%;

        &:nth-of-type(1) {
            border-top: 2px solid var(--highlight-color);
            border-left: 2px solid var(--highlight-color);
            top: 0;
            left: 0
        }

        &:nth-of-type(2) {
            border-top: 2px solid var(--highlight-color);
            border-right: 2px solid var(--highlight-color);
            top: 0;
            right: 0;
        }

        &:nth-of-type(3) {
            border-bottom: 2px solid var(--highlight-color);
            border-right: 2px solid var(--highlight-color);
            bottom: 0;
            right: 0;
        }
        &:nth-of-type(4) {
            border-bottom: 2px solid var(--highlight-color);
            border-left: 2px solid var(--highlight-color);
            bottom: 0;
            left: 0;
        }
    }

    &.quiz-questions {
        height: 100%;
    }

    &.quiz-result {
        height: 100px;
    }
}

@media(max-width:660px) {
    .quiz-section {
        padding: 1rem;
    }
}

